<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFILEPAGE</title>
</head>
<body>
    <h1>Profile Page</h1>
    
    <html>
            <h1>Hello, <%= name %></h1>
    </html>

    <form action="/homepage" method="GET">
        <button>Back To Homepage</button>
    </form>
    
    
</body>
</html>